<!DOCTYPE html>
<title>Hat</title>

<style>
    body {
        margin: 0;
    }

    svg {
        transform: scaleY(-1);
    }

    polygon {
        stroke-width: 0.1;
    }

    #stage {
        position: relative;
    }

    #svg-wrapper,
    #toolbar {
        position: absolute;
    }

    #main-svg {
        overflow: hidden;
        display: block;
    }

    #toolbar {
        padding: 0.5em;
        color: white;
        background-color: #0007;
    }
</style>

<div id="app">
    <div id="stage">
        <div id="svg-wrapper">
            <svg id="main-svg" :view-box.camel="svgViewBox" :width="width" :height="height"
                @pointerdown="pointerDownHandler" @pointermove="pointerMoveHandler" @pointerup="pointerUpHandler"
                @wheel="wheelHandler" @dblclick="createHat">
                <g v-if="mode == 'free'">
                    <polygon v-for="(hat, i) in hats" :points="getPolylinePoints2(hat).svgPoints" fill="white"
                        :stroke="hat.selected ? 'black' : 'gray'" @pointerdown="hatSelect($event, hat, i)"
                        @dblclick="hatReflect($event, hat)" />
                </g>
                <g v-if="mode == 'substitution'">
                    <polygon v-for="(hat, i) in hats2" :points="getPolylinePoints2(hat).svgPoints" :fill="hat.color"
                        stroke="black" />
                    <g v-if="options.showNodes">
                        <g v-for="(hat, i) in hats2">
                            <g v-for="node in getPolylinePoints2(hat).nodes">
                                <circle :cx="node.ev.x" :cy="node.ev.y" r="0.1" @mouseover="coord = node.v" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <div id="toolbar">
            <div>
                <fieldset>
                    <legend>Mode</legend>
                    <label>
                        <input type="radio" value="substitution" v-model="mode" />
                        substitution
                    </label>
                    <label>
                        <input type="radio" value="free" v-model="mode" />
                        free
                    </label>
                </fieldset>
            </div>
            <div v-if="mode == 'substitution'">
                <fieldset>
                    <legend>Iteration</legend>
                    <button @click="iteration = Math.max(0, iteration - 1)">-</button>
                    {{iteration}}
                    <button @click="iteration = iteration + 1">+</button>
                </fieldset>
                <fieldset>
                    <legend>a</legend>
                    <label>
                        <input type="range" min="0" max="1" step="0.001" v-model.number="a">
                        {{humanReadable(a)}}
                    </label>
                    <br>
                    <button @click="a = 0">0</button>
                    <button @click="a = 0.5">0.5</button>
                    <button @click="a = 1">1</button>
                </fieldset>
            </div>
            <fieldset>
                <legend>Scale</legend>
                {{humanReadable(scale)}}
            </fieldset>
            <fieldset>
                <legend>Options</legend>
                <label v-if="mode == 'substitution'">
                    <input type="checkbox" v-model="options.showNodes">
                    Show nodes
                    <br>
                </label>
                <div>
                    <button @click="reset">Reset</button>
                </div>
            </fieldset>
            <div v-if="mode == 'substitution'">
                <fieldset v-if="options.showNodes">
                    <legend>Node info</legend>
                    {{coord}}
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="affine.js"></script>
<script>
    const { createApp } = Vue

    const hatOutline2 = [
        xyab(0, 0, 0, 0),
        xyab(0, -1, 0, -1),
        xyab(1, -1, -1, -1),
        xyab(2, -1, -1, -1),
        xyab(3, -1, -1, -1),
        xyab(3, -1, 0, -1),
        xyab(3, 1, 0, -2),
        xyab(3, 2, 0, -1),
        xyab(2, 2, 1, -1),
        xyab(1, 2, 1, -1),
        xyab(1, 1, 1, 1),
        xyab(1, -1, 1, 2),
        xyab(1, -1, 0, 2),
        xyab(0, -1, 0, 2),
    ];

    const deg60 = Math.PI / 3;
    const cos60 = Math.cos(deg60);
    const sin60 = Math.sin(deg60);

    const scale0 = 16;
    const iteration0 = 3;
    const a0 = 0.5;

    createApp({
        data() {
            return {
                width: window.innerWidth,
                height: window.innerHeight,
                cx: 0,
                cy: 0,
                scale: scale0,
                mode: 'substitution',
                iteration: iteration0,
                a: a0,
                coord: null,
                hats: [],
                hats2: [],
                selected: [],
                moveHandler: null,
                hatHeld: false,
                svg: null,
                options: {
                    showNodes: false,
                }
            }
        },
        computed: {
            svgViewBox() {
                const x = this.cx - this.width / 2 / this.scale;
                const y = this.cy - this.height / 2 / this.scale;
                const w = this.width / this.scale;
                const h = this.height / this.scale;
                return `${x} ${y} ${w} ${h}`
            }
        },
        watch: {
            iteration() {
                this.hats2 = this.construct(this.iteration);
            }
        },
        methods: {
            humanReadable(x) {
                return Math.round(x * 1000) / 1000;
            },
            reset() {
                this.cx = 0;
                this.cy = 0;
                this.scale = scale0;
                this.a = a0;
                this.iteration = iteration0;
            },
            resize() {
                this.width = window.innerWidth;
                this.height = window.innerHeight;
            },
            clearSelected() {
                for (hat of this.selected) {
                    hat.selected = false;
                }
                this.selected = [];
            },
            getOutline(affine) {
                const outline = [];
                for (let p of hatOutline2) {
                    const v = affine.mulVec(p);
                    outline.push(v);
                }
                return outline;
            },
            getPolylinePoints2(hat) {
                const [a, b] = this.mode == 'substitution' ? [this.a, 1 - this.a] : [0.5, 0.5];

                if (this.mode == 'free') {
                    let affine = this.composeTmpAffine(hat).mul(hat.affine);

                    if (hat.flip) {
                        affine = affine.mul(Affine.flip());
                    }

                    hat.outline = this.getOutline(affine);
                }

                let res = "";
                let nodes = [];
                for (let p of hat.outline) {
                    const x = a * p.x.a + b * p.x.b;
                    const y = a * p.y.a + b * p.y.b;
                    const xx = x + y * cos60;
                    const yy = y * sin60;
                    res += `${xx} ${yy} `
                    nodes.push({ v: p, ev: { x: xx, y: yy } });
                }
                return { svgPoints: res, nodes: nodes };
            },
            getMousePosition(e) {
                const rect = this.svg.getBoundingClientRect()
                const x = e.clientX - rect.left;
                const y = this.height - e.clientY - rect.top;
                return [x, y];
            },
            getMousePositionSVG(e) {
                const [mx, my] = this.getMousePosition(e);
                const x = (mx - this.width / 2) / this.scale + this.cx;
                const y = (my - this.height / 2) / this.scale + this.cy;
                return [x, y];
            },
            convertToHexCoordRound(x, y) {
                // const a = 1;
                const b = -1 / Math.sqrt(3);
                // const c = 0;
                const d = 2 / Math.sqrt(3);
                // TODO: Why is 2* needed?
                const xx = Math.round(2 * (x + b * y));
                const yy = Math.round(2 * (d * y));
                return [xx, yy]
            },
            getMousePositionSVGHex(e) {
                const [x, y] = this.getMousePositionSVG(e);
                return this.convertToHexCoordRound(x, y);
            },
            pointerDownHandler(e) {
                const [x0, y0] = this.getMousePosition(e);
                const [cx0, cy0] = [this.cx, this.cy];
                const handler = (e_) => {
                    const [x, y] = this.getMousePosition(e_);
                    const dx = (x - x0) / this.scale;
                    const dy = (y - y0) / this.scale;
                    this.cx = cx0 - dx;
                    this.cy = cy0 - dy;
                }
                this.moveHandler = handler;
                this.clearSelected();
            },
            pointerMoveHandler(e) {
                if (this.moveHandler !== null) {
                    this.moveHandler(e);
                }
            },
            clearTmpAffine(hat) {
                hat.tmpTransitionAffine = null;
                hat.tmpRotationAffine = new Affine;
            },
            composeTmpAffine(hat) {
                let affine = new Affine();
                if (hat.tmpRotationAffine) {
                    affine = hat.tmpRotationAffine.mul(affine);
                }
                if (hat.tmpTransitionAffine) {
                    affine = hat.tmpTransitionAffine.mul(affine);
                }
                return affine;
            },
            pointerUpHandler() {
                this.hatHeld = false;
                this.moveHandler = null;
                for (hat of this.selected) {
                    const tmpAffine = this.composeTmpAffine(hat);
                    hat.affine = tmpAffine.mul(hat.affine);
                    this.clearTmpAffine(hat);
                }
            },
            wheelHandler(e) {
                e.stopPropagation();
                e.preventDefault();

                if (this.hatHeld) {
                    // Hat rotation
                    const rot = e.deltaY > 0 ? -1 : 1;
                    for (hat of this.selected) {
                        const affine = Affine.relativeRotation(xyab(hat.x0hex, 0, hat.y0hex, 0), rot);
                        hat.tmpRotationAffine = hat.tmpRotationAffine.mul(affine);
                    }
                } else {
                    // Zoom in/out
                    const [x, y] = this.getMousePositionSVG(e);
                    const scaleFactor = 1.2;
                    const r = e.deltaY > 0 ? 1.2 : 1 / 1.2;
                    this.cx = this.cx + (x - this.cx) * (1 - r);
                    this.cy = this.cy + (y - this.cy) * (1 - r);
                    this.scale /= r;
                }
            },
            hatSelect(e, hat, i) {
                e.stopPropagation();

                if (!hat.selected && !e.ctrlKey) {
                    this.clearSelected();
                }

                this.hatHeld = true;
                if (!hat.selected) {
                    this.selected.push(hat);
                    hat.selected = true;
                }

                // Newly clicked hat is always front
                // swap elements
                const length = this.hats.length;
                if (length > 1) {
                    const tmp = this.hats[length - 1];
                    this.hats[length - 1] = this.hats[i];
                    this.hats[i] = tmp;
                }

                const [x0, y0] = this.getMousePositionSVGHex(e);
                for (hat of this.selected) {
                    hat.x0hex = x0;
                    hat.y0hex = y0;
                }
                const handler = (e_) => {
                    const [x, y] = this.getMousePositionSVGHex(e_);
                    const dx = x - x0;
                    const dy = y - y0;
                    for (hat of this.selected) {
                        hat.tmpTransitionAffine = Affine.transition(xyab(dx, 0, dy, 0));
                    }
                }
                this.moveHandler = handler;
            },
            hatReflect(e, hat) {
                e.stopPropagation();
                hat.flip = !hat.flip;
            },
            createHat(e) {
                const [x, y] = this.getMousePositionSVGHex(e);
                this.hats.push({ affine: Affine.transition(xyab(x, 0, y, 0)), flip: false, tmpRotationAffine: new Affine() });
            },
            construct(iteration) {
                let hats = [];
                const substitution = (type, depth) => {
                    if (depth == 0) {
                        const h = hatOutline2;
                        const quad = [h[2], h[6], h[8], h[10]];
                        return { type: type, depth: 0, quad: quad, affine: new Affine() };
                    } else {
                        const clusters = [];
                        const rules = [
                            // type, rot degree, prev quad idx connects to, current quad idx connects to prev
                            [0, [3, 0]],
                            [1, [2, 0]],
                            [2, [2, 0]],
                            [0, [3, 3]],
                            [4, [0, 0]],
                            [5, [2, 0]],
                            [0, [2, 0]],
                        ]
                        for (let i = 0; i < 7; i++) {
                            const r = rules[i];
                            const cluster = substitution(i, depth - 1);
                            clusters.push(cluster);
                            if (i > 0) {
                                const rotAffine = Affine.rotation(r[0]);
                                const from = clusters[i - 1].quad[r[1][0]];
                                const to = rotAffine.mulVec(clusters[i].quad[r[1][1]]);
                                const affine = Affine.transition(vecSub(from, to)).mul(rotAffine);
                                for (let j = 0; j < 4; j++) {
                                    clusters[i].quad[j] = affine.mulVec(clusters[i].quad[j]);
                                }
                                clusters[i].affine = affine.mul(clusters[i].affine);
                            }
                        }
                        const nextQuad = [[4, 1], [6, 2], [1, 1], [2, 2]];
                        const quad = [];
                        for (let nq of nextQuad) {
                            quad.push(clusters[nq[0]].quad[nq[1]]);
                        }
                        return { type: type, clusters: clusters, quad: quad, depth: depth, affine: Affine.identity() };
                    }
                };
                const traverse = (cluster, affine) => {
                    if (cluster.depth == 0) {
                        hats.push({ affine: affine, color: 'white', outline: this.getOutline(affine) });
                        if (cluster.type == 3) {
                            af = affine.mul(Affine.rotTransition(1, xyab(3, 1, 0, -2))).mul(Affine.flip());
                            hats.push({ affine: af, color: 'DodgerBlue', outline: this.getOutline(af) });
                        }
                    } else {
                        const n = cluster.type == 3 ? 6 : 7;
                        for (let i = 0; i < n; i++) {
                            const c = cluster.clusters[i];
                            traverse(c, affine.mul(c.affine));
                        }
                    }
                };
                traverse(substitution(0, iteration), Affine.rotation(-2));
                return hats;
            },
        },
        mounted() {
            this.resize();
            window.addEventListener('resize', this.resize);

            this.svg = document.getElementById('main-svg');
            this.hats2 = this.construct(this.iteration);
            this.hats = [
                { affine: Affine.identity(), flip: false, tmpRotationAffine: Affine.identity() },
            ];
        },
    }).mount('#app')
</script>